<p id="notice"><%= notice %></p>

    <% @articles.each do |article| %>
      <%= react_component "IndexA", {article: @articles}%>           
    <% end %>

<%= link_to 'New Article', new_article_path %>
