<<<<<<< HEAD
<div class="cantainer">
<%= react_component("Index", {junta: "si", validate: false}) %>
=======
<%=react_component("IndexW")%>
>>>>>>> b7840b40361c8f899c12b72cb768206225f37156
<%= link_to 'F', articles_path %>
</div>

