.header {
  overflow: hidden;
  background-color: #2b2e36;
}

.header a {
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  margin-left: 4px;
  margin-right: 4px;
  color: white;
  padding: 8px;
}

.header a:hover {
  color: #4a587b;
  background-color: #f2f3f3;
}

.header-right {
  text-align: right;
  padding: 8px 22px;
  background-color: #7dbcea;
}

div.container {
  background-color: #f2f3f3;
  margin-left: 75px;
  margin-right: 75px;
  margin-bottom: 40px;
  border: 1.5px solid black;
  box-shadow: 5px 5px 18px #888888;
}

div .h {
  color: #4a587b;
  text-emphasis: center;
}

h2.date {
  color: #4a587b;
  text-align: right;
  margin-right: 20px;
}

img {
  width: 15%;
  height: auto;
  text-align: left;
  margin-left: 10px;
}

.a{
  margin-left: 40px;
  color: #4a587b;
}

.list{
  text-align: center;
  padding: 8px 22px;
  display: inline;
}

.a{
  display: inline;
  
}

div .container h4{
  color: #4a587b;
  margin-left: 30px;
}