.header {
    overflow: hidden;
    background-color: #2b2e36;
    padding: 20px 10px;
  }

  .header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }

  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }

  .header a:hover {
    background-color: #bfc7d3;
    color: #2b2e36;
  }

  .header-right {
    float: right;
  }
  h1.fecha{
    color: #2b2e36;
    float: right;
  }

 